.podimg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 1px solid black;
  display: block;
  cursor: pointer;

}

body {
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  padding-top: 70px;
}

.col-xs-10{
  color: white;
}

.col-xs-6 {
  color: white;
}

.podimgEpisode {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 1px solid black;
  display: block;
  right: 900px;

}

* {
  /*border: 1px solid red;*/
}
