.podimg {
  max-height: 100%; ;
  width: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: -11px 9px 165px -1px rgba(0,0,0,0.75);
  margin: 10px 0;

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.podimg:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.podimg:hover, .podimg:focus, .podimg:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.podimg:hover:before, .podimg:focus:before, .podimg:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


body {
  background-size: cover;
  padding-top: 70px;
  background: url("https://source.unsplash.com/random/1920 x 1080") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.col-xs-6 {
  color: white;
}

#text {
  background: rgba(54, 25, 25, .5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */

}

.podimgEpisode {
  -webkit-box-shadow: -11px 9px 165px -1px rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: block;
  right: 900px;
  margin: 10px 0;

}


* {
  /*border: 1px solid red;*/
}

.col-xs-4 {
  text-align: center;
  color: white;
}
